/* Ativação do scroll */
html {
  scroll-behavior: smooth;
}


/* Home parte 1 */

#HomeParte01 .page-container {
  height: 100vh; /* 70% da altura da tela */
}

#navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: transparent !important;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  margin-bottom: 20px;
  font-family: 'Jura', sans-serif;
  font-size: 25px;
  font-weight: 700 !important;
}

.nav-link {
  font-family: jura;
  color: black !important;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  line-height: 118%;
  margin: 10px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.26);
}

.nav-link:hover {
  color: #fafafa !important;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  #nav-list {
    display: none; 
  }

  #nav-list.show {
    display: flex;
  }
}


.page-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.page-container img {
  width: 100%;
  height: 100%;         
  object-fit: cover;    
  display: block;
}


.texto {
  font-family: "Josefin Slab", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  font-weight: 700;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
  width: 90%;
  text-align: center;
}

/* Home parte 2 */

#HomeParte2 {
  background-color: #b49b2c25;
  position: relative;
  align-items: stretch; 
}

.container {
  display: flex;
  align-items: center;      
  justify-content: center;  
  gap: 50px;               
  height: 569px;           
  text-align: center;
}


.textLeft, .textRight {
  flex: 1;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  font-family: jura;
  font-size: 20px;
  font-weight: 700;

}

.destaque {
    color: #686931;
}


.divider {
  width: 1px;
  height: 300px; 
  background-color: black;
}

.tituloParte2 {
    font-size: 30px;
}

.fraseParte2 {
    font-size: 43px;
}

.lists-container {
  display: flex;
  justify-content: center; 
  gap: 40px;                
  margin: 15px; 
  padding: 15px; 
    --b: 5px; /* thickness of the border */
    --c: black; /* color of the border */
    --w: 20px; /* width of border */
 
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
 
    background: conic-gradient(
                from 90deg at top var(--b) left var(--b),
                var(--_g)
            )
            0 0 / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
            100% 100% / var(--_p);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

/* Home Parte 3 */

#HomeParte3 {
    background-color: black;
    position: relative;
    align-items: stretch; 
    
}

.imgKombiAzul {
  object-fit: cover;
}

.tituloParte3 {
  font-size: 2rem;
  font-weight: 600;
  font-family: jura;
  font-weight: 700;
  color: white;
  font-size: 30px;
  
}

.buttonDescobrir {
  background-color: #00000000;
  color: white;
  border-radius: 35px;
  cursor: pointer;
  height: 77px;
  width: 309px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  font-family: jura;
  font-weight: 700;
  font-size: 25px;
  margin: 25px;
}

.buttonDescobrir:hover {
  background-color: #fdfdfd88;
}

/* Home Parte 4 */

#HomeParte4 {
  background-color: #b49b2c25;
  position: relative;
  align-items: stretch; 
}

.tituloParte4 {
  font-size: 2rem;
  font-weight: 600;
  font-family: jura;
  font-weight: 700;
  color: black;
  font-size: 30px;
  
}

.buttonExplorar {
  background-color: #00000000;
  color:black;
  border-radius: 35px;
  cursor: pointer;
  height: 77px;
  width: 309px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  font-family: jura;
  font-weight: 700;
  font-size: 25px;
  margin: 25px;
}

.buttonExplorar:hover {
  background-color: #fdfdfd88;
}

/* Home Page 5 */

.page-container {
  position: relative;
  width: 100%;
  height: 690px;
  background-image: url("img/Foto11.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blogButton {
  background-color: black;
  color:white;
  border-radius: 35px;
  cursor: pointer;
  height: 77px;
  width: 309px;
  font-family: jura;
  font-weight: 700;
  font-size: 25px;
  margin: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blogButton:hover {
  background-color: rgb(39, 39, 39);
}

/* Home Page 6 */


footer.footer {
  background-color:  black; 
  color: #e2e8f0; 
  padding: 3rem 1.5rem;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.2s ease;
  font-family: jura;
  font-size: 36px;
}


.footer-socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 2rem;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgba(255, 255, 255, 0.400);
  text-decoration: none;
  font-size: 0.95rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.social-link:hover {
  color:  rgb(192, 191, 191);
  transform: translateY(-2px);
}

.social-link svg {
  width: 58px;
  height: 58px;
}

.footer-copy {
  font-size: 18PX;
  color: white ;
  margin-top: 1rem;
  font-family: jura;
}

/* Botão voltar ao topo */

#btnTopo {
  position: fixed;
  bottom: 58px;
  right: 58px;
  width: 58px;
  height: 58px;
  border: 3px solid black;
  border-radius: 50%;
  padding: 0;
  background: transparent;
  box-sizing: border-box;
}

#btnTopo .arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 700;
}

#btnTopo:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

/* ---------------------PAGINA ACOMODAÇÃO--------------------------- */

#CardsAcomodacao {
  background-color: #b49b2c25;
  padding: 50px;
}
.page-container2 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.page-container2 img {
  width: 100%;
  height: 570px;         
  object-fit: cover;    
  display: flex;
}

.textoPage2 {
  font-family: "Josefin Slab", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  font-weight: 700;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
  text-align: center !important;
  background-color: rgba(0, 0, 0, 0.795);
  width: 100%;
  height: 146px;
  line-height: 160px;
}

/* Cards */

.card-title {
  text-align: center;
  font-family: jura;
  font-size: 36;
  font-weight: 700;
}



